openapi: 3.1.0
info:
  title: AC-215 Proxy API
  version: 0.1.0
  description: Internal API for controlling an AC-215 panel through the proxy.

servers:
  - url: http://security.tail29f4f.ts.net:8181

paths:
  /v1/panel/outputs:
    get:
      summary: Get output relay states
      description: >
        Returns the current state of all output relays that are either unlocked
        or overridden. Returns an empty array when the panel has just booted or
        been reset and no output activity has occurred.
      responses:
        "200":
          description: Current output states.
          content:
            application/json:
              schema:
                type: object
                required: [outputs]
                properties:
                  outputs:
                    type: array
                    items:
                      type: object
                      required: [output_id, is_unlocked, is_overridden]
                      properties:
                        output_id:
                          type: integer
                          minimum: 0
                          maximum: 31
                          description: Output relay index (0-indexed).
                        is_unlocked:
                          type: boolean
                          description: >
                            Whether the output is currently active (unlocked).
                            People can access whatever is controlled by this output.
                        is_overridden:
                          type: boolean
                          description: >
                            Whether this output is being held open by the AxTraxNG
                            server, rather than a decision made by the panel.
              examples:
                some_active:
                  summary: Two outputs active
                  value:
                    outputs:
                      - output_id: 0
                        is_unlocked: true
                        is_overridden: true
                      - output_id: 3
                        is_unlocked: true
                        is_overridden: false
                none_active:
                  summary: No outputs active
                  value:
                    outputs: []
    post:
      summary: Control output relays
      description: >
        Send manual output operations to the panel. Each operation targets a
        specific output relay by index and specifies what to do with it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [operations]
              properties:
                operations:
                  type: array
                  items:
                    type: object
                    required: [output_id, operation]
                    properties:
                      output_id:
                        type: integer
                        minimum: 0
                        maximum: 31
                        description: Output relay index (0-indexed).
                      operation:
                        type: string
                        enum: [pulse, open, close]
                        description: >
                          `pulse` -- open momentarily for `duration` seconds, then re-lock.
                          `open` -- open permanently until explicitly closed.
                          `close` -- close and return to default state.
                      duration:
                        type: integer
                        minimum: 0
                        maximum: 3599
                        default: 0
                        description: Duration in seconds. Used by `pulse` and `open`.
            examples:
              pulse_and_close:
                summary: Pulse output 0 and close output 5
                value:
                  operations:
                    - output_id: 0
                      operation: pulse
                      duration: 60
                    - output_id: 5
                      operation: close
      responses:
        "200":
          description: The panel acknowledged the command.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: The request body is malformed or contains invalid values.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormatExceptionResponse"
        "502":
          description: The panel rejected the command (NACK).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NackResponse"
        "500":
          description: The panel responded with an unexpected packet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnexpectedPacketResponse"

  /v1/webhooks:
    get:
      summary: List registered webhooks
      description: Returns all registered webhook endpoints.
      responses:
        "200":
          description: List of webhooks.
          content:
            application/json:
              schema:
                type: object
                required: [webhooks]
                properties:
                  webhooks:
                    type: array
                    items:
                      type: object
                      required: [id, url]
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Unique webhook identifier.
                        url:
                          type: string
                          format: uri
                          description: The URL that will receive POST deliveries.
              examples:
                one_registered:
                  summary: One webhook registered
                  value:
                    webhooks:
                      - id: "b1c2d3e4-5678-4a9b-0cde-f1234567890a"
                        url: "https://my-worker.example.workers.dev/events"
    post:
      summary: Register a webhook
      description: >
        Register a new URL to receive event deliveries. Each delivery is signed
        with the provided key using HMAC-SHA256, sent in the `X-Webhook-Signature`
        header as a hex-encoded digest.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, signing_key]
              properties:
                url:
                  type: string
                  format: uri
                  description: The URL that will receive POST deliveries.
                signing_key:
                  type: string
                  description: Secret key used to compute the HMAC-SHA256 signature.
            examples:
              register:
                summary: Register a Cloudflare Worker
                value:
                  url: "https://my-worker.example.workers.dev/events"
                  signing_key: "whsec_supersecretkey123"
      callbacks:
        onEvent:
          "{$request.body#/url}":
            post:
              summary: Webhook event delivery
              description: >
                POSTed to the registered URL when a panel event occurs.
                The request is signed with the registered key using HMAC-SHA256;
                the hex-encoded digest is in the `X-Webhook-Signature` header.
              parameters:
                - name: X-Webhook-Signature
                  in: header
                  required: true
                  schema:
                    type: string
                  description: HMAC-SHA256 hex digest of the request body, computed with the registered signing key.
                - name: X-Webhook-Id
                  in: header
                  required: true
                  schema:
                    type: string
                    format: uuid
                  description: The webhook registration ID.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/WebhookEvent"
                    examples:
                      output_enabled:
                        summary: Door unlocked
                        value:
                          time: 1711648923000
                          type: "output.enabled"
                          data:
                            output_id: 0
                            is_overridden: true
                      output_disabled:
                        summary: Door locked
                        value:
                          time: 1711648926000
                          type: "output.disabled"
                          data:
                            output_id: 0
                            is_overridden: false
              responses:
                "200":
                  description: Event received successfully.
      responses:
        "201":
          description: Webhook registered successfully.
          content:
            application/json:
              schema:
                type: object
                required: [ok, webhook]
                properties:
                  ok:
                    type: boolean
                    const: true
                  webhook:
                    type: object
                    required: [id, url]
                    properties:
                      id:
                        type: string
                        format: uuid
                      url:
                        type: string
                        format: uri
              examples:
                created:
                  value:
                    ok: true
                    webhook:
                      id: "b1c2d3e4-5678-4a9b-0cde-f1234567890a"
                      url: "https://my-worker.example.workers.dev/events"

  /v1/users:
    get:
      summary: List users
      description: Returns all employees in the AxTrax database.
      responses:
        "200":
          description: List of users.
          content:
            application/json:
              schema:
                type: object
                required: [ok, users]
                properties:
                  ok:
                    type: boolean
                    const: true
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
    post:
      summary: Create user
      description: >
        Create a new employee record. This is a database-only operation — the
        panel is not notified until a card is assigned to this user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name]
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                department:
                  type: integer
                  default: 1
                  description: "1=General, 2=RC Staff, 10000=Visitors."
                access_group:
                  type: integer
                  default: 2
                  description: "1=Master, 2=Recurse Center Access Group, 1000000=Unauthorized."
                pin:
                  type: string
                  default: ""
                master_user:
                  type: boolean
                  default: false
                notes:
                  type: string
                  default: ""
            examples:
              basic:
                value:
                  first_name: "Test"
                  last_name: "User"
                  department: 1
                  access_group: 2
      responses:
        "201":
          description: User created.
          content:
            application/json:
              schema:
                type: object
                required: [ok, user]
                properties:
                  ok:
                    type: boolean
                    const: true
                  user:
                    $ref: "#/components/schemas/User"
        "400":
          description: Invalid department or access group.
        "500":
          description: Database error.

  /v1/users/{id}:
    get:
      summary: Get user
      description: Returns a single employee with their assigned cards.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: User with cards.
          content:
            application/json:
              schema:
                type: object
                required: [ok, user]
                properties:
                  ok:
                    type: boolean
                    const: true
                  user:
                    allOf:
                      - $ref: "#/components/schemas/User"
                      - type: object
                        properties:
                          cards:
                            type: array
                            items:
                              $ref: "#/components/schemas/Card"
        "404":
          description: User not found.
    patch:
      summary: Update user
      description: >
        Update one or more fields on an employee. If access-related fields
        (access_group, pin, master_user) change and the user has a panel
        slot, a UserData download is automatically queued.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                department:
                  type: integer
                access_group:
                  type: integer
                pin:
                  type: string
                master_user:
                  type: boolean
                notes:
                  type: string
      responses:
        "200":
          description: User updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Invalid field values or no fields provided.
        "404":
          description: User not found.
    delete:
      summary: Delete user
      description: >
        Delete an employee. The user must have no cards referencing them.
        If the user has a panel slot, a DeleteUserData download is queued.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: User deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "404":
          description: User not found.
        "409":
          description: User still has cards referencing them.

  /v1/cards:
    get:
      summary: List cards
      description: Returns all cards in the AxTrax database.
      responses:
        "200":
          description: List of cards.
          content:
            application/json:
              schema:
                type: object
                required: [ok, cards]
                properties:
                  ok:
                    type: boolean
                    const: true
                  cards:
                    type: array
                    items:
                      $ref: "#/components/schemas/Card"
    post:
      summary: Create card
      description: >
        Create a new unassigned card record. This is a database-only operation —
        the panel is not notified until the card is assigned to a user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [site_code, card_code]
              properties:
                site_code:
                  type: integer
                  description: Facility code (198 for RC Wiegand cards).
                card_code:
                  type: string
                  description: Card number as a string.
            examples:
              wiegand:
                value:
                  site_code: 198
                  card_code: "1093"
      responses:
        "201":
          description: Card created.
          content:
            application/json:
              schema:
                type: object
                required: [ok, card]
                properties:
                  ok:
                    type: boolean
                    const: true
                  card:
                    $ref: "#/components/schemas/Card"
        "409":
          description: A card with that site_code and card_code already exists.

  /v1/cards/lookup/{site_code}/{card_code}:
    get:
      summary: Lookup card by site code and card code
      description: Find a card by its facility code and card number.
      parameters:
        - name: site_code
          in: path
          required: true
          schema:
            type: integer
          description: Facility code (e.g. 198).
        - name: card_code
          in: path
          required: true
          schema:
            type: string
          description: Card number.
      responses:
        "200":
          description: Card found.
          content:
            application/json:
              schema:
                type: object
                required: [ok, card]
                properties:
                  ok:
                    type: boolean
                    const: true
                  card:
                    $ref: "#/components/schemas/Card"
        "404":
          description: No card with that site code and card code.

  /v1/cards/{id}:
    get:
      summary: Get card
      description: Returns a single card by its database ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Card details.
          content:
            application/json:
              schema:
                type: object
                required: [ok, card]
                properties:
                  ok:
                    type: boolean
                    const: true
                  card:
                    $ref: "#/components/schemas/Card"
        "404":
          description: Card not found.
    delete:
      summary: Delete card
      description: >
        Delete a card. The card must be unassigned first (IdEmpNum=0).
        Also removes the card's panel slot if one exists.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Card deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "404":
          description: Card not found.
        "409":
          description: Card is still assigned to an employee.

  /v1/cards/{id}/assign:
    post:
      summary: Assign card to user
      description: >
        Assign an unassigned card to an employee. This is the operation that
        actually pushes credentials to the panel. It allocates panel slots for
        both the user and card (if needed) and queues the appropriate download
        commands (UserData priority 140, CodeData priority 145).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Card ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [employee_id]
              properties:
                employee_id:
                  type: integer
                  description: The employee to assign this card to.
      responses:
        "200":
          description: Card assigned and panel downloads queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "404":
          description: Card or employee not found.
        "409":
          description: Card is already assigned.

  /v1/cards/{id}/unassign:
    post:
      summary: Unassign card from user
      description: >
        Unassign a card from its employee. Updates the card to unassigned status
        and queues a DeleteCardData download (command 242) to clear the card
        slot on the panel. The card slot row in tblSlotCard is preserved.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Card ID.
      responses:
        "200":
          description: Card unassigned and panel download queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "404":
          description: Card not found.
        "409":
          description: Card is not currently assigned.

  /v1/webhooks/{id}:
    delete:
      summary: Remove a webhook
      description: Unregister a webhook by its ID. Future events will no longer be delivered to it.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The webhook ID returned at registration time.
      responses:
        "200":
          description: Webhook removed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "404":
          description: No webhook with that ID exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    const: false
                  error:
                    type: string

  /v1/status:
    get:
      summary: Get proxy and component status
      description: >
        Returns the current state of all tracked components (proxy lifecycle,
        coordinator, pipeline handlers, database) as a flat record keyed by
        component name. Each entry includes the current state, a millisecond
        timestamp of when it entered that state, and an optional detail object
        with state-specific information.
      responses:
        "200":
          description: Current component statuses.
          content:
            application/json:
              schema:
                type: object
                required: [ok, components]
                properties:
                  ok:
                    type: boolean
                    const: true
                  components:
                    type: object
                    additionalProperties:
                      $ref: "#/components/schemas/StatusEntry"

components:
  schemas:
    StatusEntry:
      type: object
      required: [state, since]
      properties:
        state:
          type: string
          description: Current state of the component.
        since:
          type: integer
          description: Milliseconds since Unix epoch when this state was entered.
        detail:
          type: object
          description: State-specific detail (absent when there is nothing extra to report).

    WebhookEvent:
      type: object
      required: [time, type, data]
      properties:
        time:
          type: integer
          description: Milliseconds since Unix epoch when the event was observed.
        type:
          type: string
          enum: [output.enabled, output.disabled]
          description: The event type.
        data:
          oneOf:
            - $ref: "#/components/schemas/OutputEventData"
      discriminator:
        propertyName: type
        mapping:
          output.enabled: "#/components/schemas/OutputEventData"
          output.disabled: "#/components/schemas/OutputEventData"

    OutputEventData:
      type: object
      required: [output_id, is_overridden]
      properties:
        output_id:
          type: integer
          minimum: 0
          maximum: 31
          description: Output relay index (0-indexed).
        is_overridden:
          type: boolean
          description: >
            Whether this output is being held open by the AxTraxNG server,
            rather than a decision made by the panel.

    User:
      type: object
      required: [id, first_name, last_name, department, access_group, master_user]
      properties:
        id:
          type: integer
          description: Employee number (iEmployeeNum).
        first_name:
          type: string
        last_name:
          type: string
        department:
          type: integer
          description: "1=General, 2=RC Staff, 10000=Visitors."
        access_group:
          type: integer
          description: "1=Master, 2=Recurse Center Access Group, 1000000=Unauthorized."
        master_user:
          type: boolean
        notes:
          type: string

    Card:
      type: object
      required: [id, site_code, card_code, status, employee_id]
      properties:
        id:
          type: integer
          description: Card database ID (IdCardNum).
        site_code:
          type: integer
          description: Facility code (e.g. 198).
        card_code:
          type: string
          description: Card number as a string.
        status:
          type: string
          enum: [active, unassigned]
        employee_id:
          type: integer
          description: Assigned employee ID, or 0 if unassigned.
        employee:
          description: >
            The assigned employee, if any. Present when the card is assigned
            (employee_id != 0), omitted when unassigned.
          oneOf:
            - $ref: "#/components/schemas/User"
            - type: "null"

    SuccessResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          const: true
      examples:
        - ok: true

    FormatExceptionResponse:
      type: object
      required: [ok, error]
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: object
          required: [type, message]
          properties:
            type:
              type: string
              const: format_exception
            message:
              type: string
              description: Human-readable description of what went wrong.
      examples:
        - ok: false
          error:
            type: format_exception
            message: "output_id 33 out of range (0-31)"

    NackResponse:
      type: object
      required: [ok, error]
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: object
          required: [type, associated_logs]
          properties:
            type:
              type: string
              const: nack
            associated_logs:
              type: array
              description: >
                Log messages the panel sent before the NACK. May be empty if the
                panel did not send a PrepareNackResponse log.
              items:
                $ref: "#/components/schemas/LogPacket"
      examples:
        - ok: false
          error:
            type: nack
            associated_logs:
              - destination: [log, event]
                severity: Error
                message: "01:03:25:450 PrepareNackResponse: You failed to set the ObviousFlag you big dumb idiot"

    UnexpectedPacketResponse:
      type: object
      required: [ok, error]
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: object
          required: [type, packet]
          properties:
            type:
              type: string
              const: unexpected_packet
            packet:
              $ref: "#/components/schemas/Frame"
      examples:
        - ok: false
          error:
            type: unexpected_packet
            packet:
              direction: FromPanel
              source: "Panel (Dual Addressing, Main Controller)"
              destination: Server
              transaction_id: "0x03"
              command_id: 107
              command_name: RequestFirmVer825
              event_flag: Unset
              payload: "0a1b2c"

    LogPacket:
      type: object
      required: [destination, severity, message]
      properties:
        destination:
          type: array
          items:
            type: string
            enum: [log, event]
          description: Where the panel intended this log to go.
        severity:
          type: string
          enum: [Trace, Debug, Info, Warning, Error, Fatal, Disable, NotAvailable]
        message:
          type: string
          description: The raw log message text from the panel.

    Frame:
      type: object
      required: [direction, source, destination, transaction_id, command_id, command_name, event_flag, payload]
      properties:
        direction:
          type: string
          enum: [ToPanel, FromPanel]
        source:
          type: string
          description: Source address (e.g. `"Server"`, `"Panel (Dual Addressing, Main Controller)"`).
        destination:
          type: string
          description: Destination address.
        transaction_id:
          type: string
          description: Transaction ID as hex (e.g. `"0x03"`).
        command_id:
          type: integer
          description: Raw command byte.
        command_name:
          type: [string, "null"]
          description: Human-readable command name, or null if unknown.
        event_flag:
          type: string
          enum: [Set, Unset]
        payload:
          type: string
          description: Hex-encoded payload bytes.
